/* Desktop devices */
@media screen and (min-width: 1024px) {
    /* .submitButton{
        width: 100% !important;
    } */
}

/* Tablet devices */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    body{
        background-size: initial !important;
    }
    .divleft{
        display: none;
    }
    .divright{
        width: 100% !important;
    }
    .circle{
        /* margin-left: 23.5vw !important; */
        display: block !important;
        margin: auto !important;
        margin-top: 5vh !important;
    }
    .submitButton{
        width: 15vh !important;
        display: block;
        margin: auto;
        margin-top: 2vh !important;
    }
}

/* Mobile devices */
@media screen and (max-width: 767px) {
    body{
        background-size: initial !important;
    }
    .divleft{
        display: none;
    }
    .divright{
        width: 100% !important;
    }
    .circle{
        /* margin-left: 19vw !important; */
        display: block !important;
        margin: auto !important;
        margin-top: 5vh !important;
    }
    .submitButton{
        width: 15vh !important;
        display: block;
        margin: auto;
        margin-top: 2vh !important;
    }
}
